{{- $smartlink := site.Params.modules.smartlink -}}
{{- $output := $smartlink.output | default "html" -}}
{{- $normalizeEscaped := $smartlink.normalizeEscapedWikilink | default true -}}
{{- $content := "" -}}
{{- if not (in .Content "[[") -}}
    {{- $content = .Content -}}
{{- else if eq $output "html" -}}
    {{- $wikilinks := findRE `\[\[[^]]+\]\]` .Content | uniq -}}
    {{- $content = .Content -}}
    {{- range $wikilink := $wikilinks -}}
        {{- if findRE `/\S+>` $wikilink -}}
            {{- continue -}}
        {{- end -}}
        {{- $link := trim $wikilink "[] " -}}
        {{- if not $link -}}
            {{- continue -}}
        {{- end -}}
        {{- $processed := partialCached "smartlink" $link $link -}}
        {{- $content = replace $content $wikilink $processed -}}
    {{- end -}}
{{- else -}}
    {{- $content = .RenderString (replaceRE `\[\[(\s*[^]\s][^]]*)]]` "{{% smartlink `$1` %}}" .RawContent) -}}
{{- end -}}
{{- if $normalizeEscaped -}}
    {{- $content = replaceRE `\[\\\[(.*?)]]` "[[$1]]" $content -}}
{{- end -}}
{{- $content | safeHTML -}}
