{{- /* Merge SmartLink configuration with priority: front matter > site params > defaults */ -}}
{{- define "_partials/smartlink-build-label-rules.html" -}}
    {{- $labelRules := slice -}}
    {{- $name := .name -}}
    {{- range .prefixes -}}
        {{- $prefix := . -}}
        {{- $body := "{0}" -}}
        {{- if hasPrefix $prefix "-" -}}
            {{- $prefix = strings.TrimPrefix "-" $prefix -}}
            {{- $body = "{1}" -}}
        {{- end -}}
        {{- $labelRules = $labelRules | append (dict
            "name" $prefix 
            "prefix" $prefix
            "url" $body 
            "label" $body
            $name true) -}}
    {{- end -}}
    {{- return $labelRules -}}
{{- end -}}

{{- define "_partials/smartlink-build-alias-rules.html" -}}
    {{- $aliasRules := slice -}}
    {{- range $k, $v := . -}}
        {{- $aliasRules = $aliasRules | append (dict
            "name" $k
            "prefix" $k
            "url" (printf "%s{1}" $v)
            "label" (printf "%s{1}" $v)
            ) -}}
    {{- end -}}
    {{- return $aliasRules -}}
{{- end -}}

{{- define "_partials/smartlink-build-rules-config.html" -}}
    {{- $trigger := .trigger -}}
    {{- $config := .config -}}
    {{- $rules0 := slice -}}
    {{- $rules1 := slice -}}
    {{- if $trigger.usepagetitleprefixes -}}
        {{- $rules0 = $rules0 | append (partial "smartlink-build-label-rules" (dict "name" "usePageTitle" "prefixes" $config.usepagetitleprefixes)) -}}
    {{- end -}}
    {{- if $trigger.stripnamespaceprefixes -}}
        {{- $rules0 = $rules0 | append (partial "smartlink-build-label-rules" (dict "name" "stripNamespace" "prefixes" $config.stripnamespaceprefixes)) -}}
    {{- end -}}
    {{- if $trigger.prefixalias -}}
        {{- $rules1 = $rules1 | append (partial "smartlink-build-alias-rules" $trigger.prefixalias) -}}
    {{- end -}}
    {{- if $rules0 -}}
        {{- $config = collections.Merge $config (dict "rules0" $rules0) -}}
    {{- end -}}
    {{- if $rules1 -}}
        {{- $config = collections.Merge $config (dict "rules1" $rules1) -}}
    {{- end -}}
    {{- return $config -}}
{{- end -}}

{{- $config := site.Store.Get "smartlink_config_site" | default dict -}}
{{- if not $config -}}
    {{- $config = dict 
        "output" "html"
        "protectcodeblocks" false
        "normalizeescapedwikilink" true
        "maxcodeblockiterations" 50
        "prefixalias" dict
        "rules0" slice
        "rules1" slice
        "rules" slice
        "rulesAfter" slice
        "disable" false
        "supportexts" (slice "md")
        "usepagetitle" false
        "usepagetitleprefixes" (slice)
        "stripnamespaceprefixes" (slice)
        "_rulesarray" (slice)
    -}}
    {{- $config = collections.Merge $config (site.Params.modules.smartlink | default dict) dict -}}
    {{- $config = collections.Merge $config (partial "smartlink-build-rules-config" (dict "trigger" $config "config" $config)) -}}
    {{- site.Store.Set "smartlink_config_site" $config -}}
{{- end -}}

{{- $pageConfig := collections.Merge (.Params.smartlink | default dict) (.Params.modules.smartlink | default dict) dict -}}
{{- $config = collections.Merge $config $pageConfig -}}
{{- $config = collections.Merge $config (partial "smartlink-build-rules-config" (dict "trigger" $pageConfig "config" $config)) dict -}}

{{- /* Check if SmartLink is disabled */ -}}
{{- if $config.disable -}}
    {{- .Content | safeHTML -}}
{{- else if not (in $config.supportexts .File.Ext) -}}
    {{- .Content | safeHTML -}}
{{- else if and (ne $config.output "html") (ne $config.output "markdown") -}}
    {{- .Content | safeHTML -}}
{{- else if not (in .Content "[[") -}}
    {{- .Content | safeHTML -}}
{{- else -}}
    {{- $content := "" -}}
    {{- if eq $config.output "html" -}}
        {{- $content = .Content -}}
        
        {{- /* Code block protection */ -}}
        {{- $mapping := slice -}}
        {{- if $config.protectcodeblocks -}}
            {{- $pattern := `(<pre[^>]*>[\s\S]*?</pre>)|(<code[^>]*>[\s\S]*?</code>)` -}}
            
            {{- /* Process nested code blocks */ -}}
            {{- range $i := seq $config.maxcodeblockiterations -}}
                {{- $matches := $content | findRE $pattern | uniq -}}
                {{- if not $matches -}}
                    {{- break -}}
                {{- end -}}
                {{- range $j, $match := $matches -}}
                    {{- $key := len $mapping -}}
                    {{- $mapping = $mapping | append $match -}}
                    {{- $content = replace $content $match (printf "SMARTLINK_PROTECTED_%d" $key) -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        
        {{- /* SmartLink processing */ -}}
        {{- $wikilinks := findRE `\[\[[^]]+\]\]` $content | uniq -}}
        {{- range $wikilink := $wikilinks -}}
            {{- if findRE `/\S+?>` $wikilink -}}
                {{- continue -}}
            {{- end -}}
            {{- $link := trim $wikilink "[] " -}}
            {{- if not $link -}}
                {{- continue -}}
            {{- end -}}
            {{- $processed := partialCached "smartlink" (dict "link" $link "config" $config) $link $pageConfig -}}
            {{- $content = replace $content $wikilink $processed -}}
        {{- end -}}
        
        {{- /* Restore code blocks */ -}}
        {{- if $config.protectcodeblocks -}}
            {{- range $i := ($mapping | len | seq 0 | collections.Reverse) -}}
                {{- $content = replace $content (printf "SMARTLINK_PROTECTED_%d" $i) (index $mapping $i ) -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- /* For markdown shortcodes, we need to set the config in the page store */ -}}
        {{- .Store.Set "smartlink_config" $config -}}
        {{- $content = .RenderString (replaceRE `\[\[(\s*[^]\s][^]]*)]]` "{{% smartlink `$1` %}}" .RawContent) -}}
    {{- end -}}

    {{- if $config.normalizeescapedwikilink -}}
        {{- $content = replaceRE `\[\\\[(.*?)]]` "[[$1]]" $content -}}
    {{- end -}}

    {{- $content | safeHTML -}}
    {{/*  DEBUG: {{ $config | jsonify }} EXT: {{ .File.Ext }}  */}}
{{- end -}}