{{- $linkTextOrg := . -}}
{{- $linkText := $linkTextOrg | strings.TrimPrefix "[[" | strings.TrimSuffix "]]" | strings.TrimSpace -}}

{{- /* split link text into path */ -}}
{{- $_linkParts := split $linkText "|" -}}
{{- $path := index $_linkParts 0 | strings.TrimSpace -}}

{{- /* Check inline "stripNamespace" prefix*/ -}}
{{- $stripNamespace := hasPrefix $path "-" -}}
{{- if $stripNamespace -}}
    {{- $path = strings.TrimPrefix "-" $path  -}}
{{- end -}}

{{- /* Check prefixAlias */ -}}
{{- with site.Params.smartLinkOptions.prefixAlias -}}
    {{- range $key, $value := . -}}
        {{- if hasPrefix $path $key -}}
            {{- $path = replace $path $key $value -}}
            {{- break -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* Set label */ -}}
{{- $hasLabel := or (strings.TrimSpace (index $_linkParts 1)) false -}}
{{- $label := strings.TrimSpace (or $hasLabel $path) -}}

{{- /* Initialize Variables */ -}}
{{- $class := "" -}}

{{- /* Loop through smartWikiLinks */}}
{{- $matched := false -}}
{{- range site.Params.smartWikiLinks -}}
    {{- $match := slice $path -}}
    {{- /* If pattern is not set, match any path */ -}}
    {{- /* if not matched, early continue */ -}}
    {{- if .pattern -}}
        {{- $match = index (findRESubmatch .pattern $path) 0 -}}
        {{- if not $match -}}
            {{- $matched := false -}}
            {{- continue -}}
        {{- end -}}
    {{- end -}}
    {{- /* Now matched */ -}}
    {{- $matched := true -}}
    {{- if .wikiLink -}}
        {{- $stripNamespace = or .stripNamespace $stripNamespace -}}
        {{- $_parts := split $path "#" -}}
        {{- $main := index $_parts 0 -}}
        {{- $anchor := or (index $_parts 1) "" -}}
        {{- $anchorHead := and $anchor "#" -}}
        {{- if and $stripNamespace (not $hasLabel) -}}
            {{- $label = replaceRE "^.*/" "" $label -}}
        {{- end -}}
        {{- if eq $main "" -}}
            {{- /* Main is empty, check if anchor is also empty */ -}}
            {{- if eq $anchor "" -}}
                {{- /* Both main and anchor are empty, continue to next rule */ -}}
                {{- $matched = false -}}
                {{- continue -}}
            {{- else -}}
                {{- /* Main is empty but anchor exists, just use the anchor */ -}}
                {{- $path = (print "#" $anchor) -}}
            {{- end -}}
        {{- else -}}
            {{- $main = strings.ReplaceRE `/+` "/" $main -}}
            {{- $page := site.GetPage (replaceRE `\s+` "-" $main | lower) -}}
            {{- if not $page -}}
                {{- $matched = false -}}
                {{- continue -}}
            {{- end -}}
            {{- $path = (print $page.RelPermalink $anchorHead $anchor) -}}
        {{- end -}}
    {{- end -}}
    {{ if .url -}}
        {{- $path = .url -}}
        {{- range $i, $val := $match -}}
            {{- $path = replace $path (printf "{%d}" $i) $val -}}
        {{- end -}}
    {{- end -}}
    {{- if and .label (not $hasLabel) -}}
        {{- $label = .label -}}
        {{- range $i, $val := $match -}}
            {{- $label = replace $label (printf "{%d}" $i) $val -}}
        {{- end -}}
    {{- end -}}
    {{- if $matched -}}
        {{- if .class -}} {{- $class = .class -}} {{- end -}}
        {{- break -}}
    {{- end -}}
{{- end -}}
{{- $ret := dict "path" $path "label" $label "class" $class -}}
{{- return $ret -}}
