{{- $linkTextOrg := .link -}}
{{- $config := .config -}}
{{- $linkText := $linkTextOrg | strings.TrimPrefix "[[" | strings.TrimSuffix "]]" | strings.TrimSpace -}}

{{- /* split link text into path */ -}}
{{- $_linkParts := split $linkText "|" -}}
{{- $path := index $_linkParts 0 | strings.TrimSpace -}}

{{- $usePageTitle := or $config.usepagetitle false -}}
{{- $stripNamespace := false -}}

{{- /* Set label from custom label or path */ -}}
{{- $hasLabel := or (strings.TrimSpace (index $_linkParts 1)) false -}}
{{- $label := strings.TrimSpace (or $hasLabel $path) -}}

{{- /* Initialize Variables */ -}}
{{- $class := "" -}}

{{- /* Loop through rules array */ -}}
{{- range $config._rulesarray -}}
    {{- /* Loop through smartlink rules */}}
    {{- $matchedRule := false -}}
    {{- range . -}}
        {{- $match := false -}}
        {{- /* If pattern is not set, match any path */ -}}
        {{- /* if not matched, early continue */ -}}
        {{- if .prefix -}}
            {{- if hasPrefix $path .prefix -}}
                {{- $match = slice $path (strings.TrimPrefix .prefix $path) -}}
            {{- end -}}
        {{- else if .pattern -}}
            {{- $match = index (findRESubmatch .pattern $path) 0 -}}
        {{- else -}}
            {{- $match = slice $path -}}
        {{- end -}}
        {{- if not $match -}}
            {{- continue -}}
        {{- end -}}
        {{- /* Now matched */ -}}
        {{- $matchedRule = true -}}
        {{- if .wikiLink -}}
            {{- /* Check if usePageTitle */}}
            {{- $stripNamespace = or $stripNamespace .stripNamespace -}}    {{- /* stripNamespace is rule option */}}
            {{- /* Process path = main + anchor */ -}}
            {{- $_parts := split $path "#" -}}
            {{- $main := index $_parts 0 -}}
            {{- $anchor := or (index $_parts 1) "" -}}
            {{- $anchorHead := and $anchor "#" -}}

            {{- if eq $main "" -}}
                {{- /* Main is empty, check if anchor is also empty */ -}}
                {{- if eq $anchor "" -}}
                    {{- /* Both main and anchor are empty, continue to next rule */ -}}
                    {{- $matchedRule = false -}}
                    {{- continue -}}
                {{- else -}}
                    {{- /* Main is empty but anchor exists, just use the anchor */ -}}
                    {{- $path = (print "#" $anchor) -}}
                {{- end -}}
            {{- else -}}
                {{- /* Strip multiple slashes */ -}}
                {{- $main = strings.ReplaceRE `/+` "/" $main -}}

                {{- /* Get page. If not found, continue to next rule */ -}}
                {{- $page := site.GetPage (replaceRE `\s+` "-" $main | lower) -}}
                {{- if not $page -}}
                    {{- $matchedRule = false -}}
                    {{- continue -}}
                {{- end -}}
                {{- $path = (printf "%s%s%s" $page.RelPermalink $anchorHead $anchor) -}}

                {{- /* Handel Label */ -}}
                {{- if not $hasLabel -}}
                    {{- if $usePageTitle -}}
                        {{- $label = $page.Title -}}
                        {{- $hasLabel = true -}}
                    {{- else if $stripNamespace -}}
                        {{- $label = replaceRE "^.*/" "" $label -}}
                        {{- $hasLabel = true -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        {{ if .url -}}
            {{- $path = .url -}}
            {{- range $i, $val := $match -}}
                {{- $path = replace $path (printf "{%d}" $i) $val -}}
            {{- end -}}
        {{- end -}}
        {{- if and .label (not $hasLabel) -}}
            {{- $label = .label -}}
            {{- range $i, $val := $match -}}
                {{- $label = replace $label (printf "{%d}" $i) $val -}}
            {{- end -}}
        {{- end -}}
        {{- if $matchedRule -}}
            {{- if .class -}} {{- $class = .class -}} {{- end -}}
            {{- $usePageTitle = .usePageTitle | default $usePageTitle -}}
            {{- $stripNamespace = .stripNamespace | default $stripNamespace -}}
            {{- break -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $ret := dict "path" $path "label" $label "class" $class -}}
{{- return $ret -}}
